<div class="w3-top">
<div class="w3-sidebar w3-bar-block w3-border-right w3-animate-left" style="display:none" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large w ">Close &times;</button>
  <a href="/profile" class="w3-bar-item w3-button w3-light-grey">Home</a>
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-block w3-left-align" onclick="myAccFunc()"> View Roster <i class="fa fa-caret-down"></i>
  </button>
    <div id="demoAcc" class="w3-hide w3-white w3-card-2">
      <a href="/viewall" class="w3-bar-item w3-button">Between 2 Dates</a>
      <a href="#" class="w3-bar-item w3-button">By shift</a>
      <a href="/myshift" class="w3-bar-item w3-button">By Employee</a>
      </div>
  </div>
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-block w3-left-align" onclick="myAccFunc1()"> Swap Shifts<i class="fa fa-caret-down"></i>
    </button>
    <div id="demoAcc1" class="w3-hide w3-white w3-card-2">
      <a href="/swapShift" class="w3-bar-item w3-button">Swap 2 Shifts</a>
      <a href="/swapShift" class="w3-bar-item w3-button">Delegate Shifts</a>
    </div>
  </div>
  <a href="/logout" class="w3-bar-item w3-button ">Logout</a>
</div>
</div>
<button class="w3-button w3-black w3-large" onclick="w3_open()" id="navbar">☰</button>
