<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>AMS Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="w3-container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Home Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6 w3-container w3-light-grey">
            <div class="well w3-container">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>
        </div>

        <form method="post" action="/loadJson" class="w3-container loadJsonForm">

            <label>Enter Json Data</label>
            <input class="w3-input" type="text" name="jsonData" >
            <button class="w3-btn w3-blue loadJsonButton" type="submit">Insert</button>

        </form>

    </div>

</div>
<script>
$('button.loadJsonButton').click( function() {
       $('form.loadJsonForm').submit();
   });

</script>
</body>

</html>
