<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
  <script>
  </script>
  <title>AMS Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="w3.css">
  <link href="jquery-ui.css" rel="stylesheet">

  <script src="jquery-1.10.2.js"></script>
  <script src="jquery-ui.js"></script>
  <script src="script.js"></script>

</head>

<body>
  <!-- nAVIGATION Div-->
  <% include menu.html %>
  <div class="w3-container">

    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Approve Shif Swaps</h1>
    </div>
  </div>



</body>

</html>
