table.OneEmp {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
 table.OneEmp tr:nth-of-type(odd) {
  background: #eee;
}
table.OneEmp  th {
  background: #333;
  color: white;
  font-weight: bold;
}
table.OneEmp td, table.OneEmp th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}


@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */

  table.OneEmp , table.OneEmp thead,table.OneEmp tbody,table.OneEmp th,table.OneEmp td,table.OneEmp tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  table.OneEmp thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  table.OneEmp tr { border: 1px solid #ccc; }

  table.OneEmp td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  table.OneEmp td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */
  table.OneEmp td:nth-of-type(1):before { content: "Date"; }
  table.OneEmp td:nth-of-type(2):before { content: "Shift"; }

}
}
